mixin offer-package(config)
	each package, index in config.packages
		.Offer-package
			if package.flag
				.Offer-package__flag
					span.text--uppercase !{package.flagHtml}
			.Offer-package__inner
				div(class="Offer-package__icon Offer-package__icon--" + package.icon)
					case package.icon
						when 'people'
							svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 65 43')
								path(fill='#fff', d='M61.6 32.3a18.4 18.4 0 0 0-7.7-7.2c1.1-2.3 1.6-4.8 1.6-7.3 0-8.9-4.9-12-9.5-12s-9.5 3.2-9.5 12c0 2.5.5 5 1.6 7.3-1.2.6-2.4 1.4-3.5 2.2a18.4 18.4 0 0 0-7.7-7.2c1.1-2.3 1.6-4.8 1.6-7.3 0-8.9-4.9-12-9.5-12S9.5 4 9.5 12.8c0 2.5.5 5 1.6 7.3-3.4 1.7-6 4.1-7.8 7.2C.8 31.6.8 35.9.8 36.4c0 .4.4.8.9.8h26.8c-.6 2.3-.6 4-.6 4.2 0 .4.4.8.9.8h34.8c.4 0 .8-.4.8-.8-.2-.5-.2-4.8-2.8-9.1zM19 2.5c3.8 0 7.9 2.7 7.9 10.3 0 2.7-.6 5.1-1.8 7.3-1.8 3.6-4.7 5.5-6.1 5.5-1.1 0-4.1-1.9-6-5.6a14.1 14.1 0 0 1-1.9-7.2c0-7.6 4.1-10.3 7.9-10.3zm-7.1 19.1c2.2 3.6 5.3 5.7 7.1 5.7 1.9 0 5-2 7.2-5.7 2.9 1.4 5.3 3.6 7 6.5l.1.3c-2 2-3.6 4.4-4.5 7.1H2.5c.2-1.7.7-4.6 2.3-7.4 1.7-2.8 4.1-5 7.1-6.5zM46 7.5c3.8 0 7.8 2.7 7.8 10.3 0 2.7-.6 5.1-1.8 7.3-1.8 3.6-4.7 5.5-6.1 5.5-1.1 0-4.1-1.9-6-5.6a14.1 14.1 0 0 1-1.9-7.2c.2-7.6 4.2-10.3 8-10.3zm0 24.8c1.9 0 5-2 7.2-5.7 2.9 1.4 5.3 3.6 7 6.5a19 19 0 0 1 2.3 7.4h-33c.2-1.7.7-4.6 2.3-7.4 1.7-2.8 4.1-5 7.1-6.5 2.2 3.6 5.3 5.7 7.1 5.7z')
						when 'vehicle'
							svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 45 20', fill='#444')
								path(d='M44.7 11.2l-.1-.2c-.3-.8-1.1-2.6-4.9-3.7-2.6-.8-3.2-.9-3.6-1-.4-.1-.6-.2-2-.6-1.3-.5-2.6-1.2-3.8-2l-.6-.4-.5-.3C27.3 1.7 25.2.8 23 .5 19.4 0 15.7-.1 12.1.1h-1.2C9.8.1 6 .2 4.8 1.2c-.6.6-1 1.3-1.4 2.1C3 4 2.5 4.7 2 5.4c-.5.1-.8.6-.8 1.1v.9c0 .5-.1 1.6-.2 1.9l-.1.2c-.1.3-.3.6-.5.8-.8.8-.4 2.9-.1 3.7s.5 1.3 1.2 1.4c.1.1.2.3.2.4.1.3.3.5.6.5h3.2c.4 2.1 2.2 3.7 4.3 3.7 2.1 0 3.9-1.5 4.3-3.6h17.6C32 18.5 33.9 20 36 20c2.1 0 3.9-1.6 4.2-3.7 1.3 0 2.6-.2 3.9-.6.3-.2.4-.6.4-1.7.3-.2.5-.5.5-.9V13c.1-.7 0-1.2-.3-1.8zM9.9 18.8c-1.3 0-2.5-.8-3-2s-.2-2.6.7-3.5 2.3-1.2 3.5-.7c1.2.5 2 1.7 2 3-.1 1.8-1.5 3.2-3.2 3.2zm26.1 0c-1.8 0-3.2-1.4-3.2-3.2s1.4-3.2 3.2-3.2c1.8 0 3.2 1.4 3.2 3.2s-1.5 3.2-3.2 3.2zm7.8-6v.2c-.3.1-.5.4-.5.8v1c-.6.1-2.1.3-3 .3-.3-2.2-2.2-3.9-4.4-3.9s-4.1 1.8-4.2 4H14.2c-.2-2.2-2.1-4-4.3-4-2.2 0-4.1 1.7-4.3 3.9H2.8c-.1-.4-.5-.8-1-.9-.1 0-.2-.2-.4-.8-.3-.8-.4-1.6-.2-2.4.3-.3.6-.8.7-1.2.1-.2.1-.3.2-2.4v-.8c.5-.2 1-.9 2.1-2.7.3-.6.7-1.2 1.2-1.8.7-.5 3.2-.8 5.4-.8H12c3.5-.2 7.1 0 10.6.4 2.1.3 4.1 1.2 5.8 2.4l.6.4.6.4c1.4.8 2.7 1.5 4.2 2.1 1.4.4 1.6.5 2 .6s1.1.3 3.5 1c3.3 1 3.9 2.4 4.1 3 0 .1.1.2.1.3.3.3.4.6.3.9z')
				//- Margin temporary. Remove after 2.39 release
				p.Offer-package__title(style="margin: 0") #{package.title}
				p.Offer-package__description !{package.description}
				ul.Offer-package__contents
					each content in package.contents
						li
							case content.icon
								when 'tick'
									svg(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 40 40')
										circle(cx='20', cy='20', r='20', fill='#1e9771')
										path(fill='#fff', d='M17.5 28.3a2 2 0 0 1-1.3-.4l-.2-.2-4-4.9c-.4-.5-.4-1.3.2-1.8.5-.4 1.3-.4 1.8.2l3.7 4.4 9.1-13.8c.4-.6 1.2-.7 1.7-.4.6.4.7 1.2.4 1.7l-9.5 14.2c-.3.5-.9.9-1.5 1h-.4z')
								when 'plus'
									svg#Layer_1(xmlns='http://www.w3.org/2000/svg', data-name='Layer 1', viewbox='0 0 34.8 34.8')
										defs
											style.
												.cls-1{fill:#fff;}.cls-1,.cls-2{stroke:#1e9771;stroke-linecap:round;stroke-linejoin:round;}.cls-2{fill:none;stroke-width:2.5px;}
										title plus_icon
										circle#_Path_.cls-1(data-name='<Path>', cx='17.4', cy='17.4', r='16.9')
										path#_Path_2.cls-2(data-name='<Path>', d='M9.4,18.77h18', transform='translate(-1.1 -1.38)')
										path#_Path_3.cls-2(data-name='<Path>', d='M18.5,28V10', transform='translate(-1.1 -1.38)')
							span !{content.title}
				if package.showSuitability
					.Offer-package__suitability
						p This type of cover is great if:
						ul
							each reason in package.suitability
								li #{reason}
			.Offer-package__cta
				.Offer-package__price
					.hidden-xl.hidden-lg
						.Offer-package__price__highlighted &pound;#{package.monthlyPrice}
						.Offer-package__price__frequency monthly cover
						.Offer-package__price__alternative &pound#{package.annualPrice} annual cover
					.hidden-xs.hidden-sm.hidden-md
						.Offer-package__price__highlighted &pound;#{package.annualPrice}
						.Offer-package__price__frequency annual cover
						.Offer-package__price__alternative &pound#{package.monthlyPrice} monthly cover
				.Offer-package__action
					a.Btn.Btn--gradient.Btn--chevron-right(href=package.url) Build cover
		if index == 0
			.Offer-packages__separator OR
